<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link width="" rel="shortcut icon" href="/images/LogoVibra.png" />
    
    <title>Vibra Music Shop</title>
    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- Bootstrap Grid Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
    <!-- Own Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
    <!-- Header --> 
    <% if (usuarioLogueado) { %>
        <%- include("partials/headerLogueado.ejs") %>
        <p>Bienvenido, <%= usuarioLogueado.username %>!</p>
    <% } else { %>
        <%- include("partials/headerNormal.ejs") %>
    <% } %>
    <!-- Revisar el código de arriba, no está funcionando -->

    <!-- Banner -->
    <img src="/images/bannerVinilos.png" alt="Banner de ofertas">
    <!-- /Banner -->
    
    <!-- Novedades -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Novedades</h2>
            </div>
            <!-- Show the "ultimos" products -->
            <% for (let h = 0; h < products.length; h++){ %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="/product/<%= products[h].id %>">
                        <figure class="product-box_image">
                            <img src="/images/products/<%= products[h].image %>" alt="Abbey Road">
                        </figure>
                        <article class="product-box_data">
                            <h2><%= products[h].title %></h2>
                            <p><%= products[h].artist %></p>
                            <p>ID:<%= products[h].id %></p>
                        </article>
                    </a>
                </section>
            </div>
            <% } %>
        </div>
    </div>
    <!-- footer -->
    <%- include("partials/footer.ejs") %>
    <!-- /footer -->
</body>	
</html>
