<% if (usuarioLogueado) { %>
	<%- include("partials/headerLogueado.ejs") %>
<% } else { %>
	<%- include("partials/headerNormal.ejs") %>
<% } %>

	
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= info.title %></h2> 
			<% if(isOwner){ %> 
			<p class="product-detail-description">
				<a href="/product/edit/<%= info.id %>">Editar </a>
			</p>
			<p class="product-detail-description">
				<a href="/product/delete/<%= info.id %>">Eliminar</a>
			</p>
			<% } %>
		</div>
		<div class="product-detail">
			<div class="row">
			<% if (info != -1){ %>
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= info.image %>" alt="<%= info.title %>" class="product-detail-img">
					<p class="product-detail-description">
						Fecha de Publicaci칩n: <%= info.release_date %>
					</p>
					<p class="product-detail-description">
						Due침o: <a href="/profile/<%= info.user.id %>"><strong><%= info.user.username %></strong></a>
					</p>
					<p class="product-detail-description">
						<%= info.description %>
					</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (j=0; j < info.comments.length; j++){ %>
						<article>
							<% if (info.comments[j].commentUser.profilepic){ %>
							<img src="/images/users/<%= info.comments[j].commentUser.profilepic %>" alt="User PFP">
							<% } else{ %>
								<img src="https://via.placeholder.com/35" alt="User PFP">
							<% } %>
							<div class="data">
								<p class="user">
									<strong> <a href="/profile/<%= info.comments[j].id_user %>"><%= info.comments[j].commentUser.email %> </a> </strong>
									<%= info.comments[j].coment %></p>
							</div>
						</article>
						<% } %>
					</section>

					<% if (usuarioLogueado !== null) { %>
					<form class="form" action="/product/addComment" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
						<% } else { %>
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button style="background-color: gray;" type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>	
						<% } %>

				</div>
			<%} else{ %>
				<h2 style="margin-left: 40px;"> Su 치lbum no pudo ser encontrado. Por favor, intente con otro 치lbum o <a href="/">vuelva al home</a></h2>
			<% } %>
			</div>
		</div>
	</div>

<!-- footer -->
<%- include("partials/footer.ejs") %>
<!-- /footer -->

</body>	
</html>