<%- include("partials/headerLogueado.ejs") %>

<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Agregar productos</h2>
        </div>

		<% if (locals && locals.errors) { %>	
			<% for (let error in errors) { %>
				<p class="errores"> <%= errors[error].msg %> </p>
			<% } %>
		<% } %>
        <div class="col-12">
            <form action="/product/store" method="POST">

				<div class="form-group">
                    <label for="image">Imagen:</label>
                    <input type="text" id="image" name="image" accept="image/*" value="<%= locals.old && old.
					image ? old.image : ""%>">
                </div>

				<div class="form-group">
                    <label for="title">Título:</label>
                    <input type="text" id="title" name="title" class="form-control" value="<%= locals.old && old.
					title ? old.title : ""%>">
                </div>
                
                <div class="form-group">
                    <label for="artist">Artista:</label>
                    <input type="text" id="artist" name="artist" class="form-control" value="<%= locals.old && old.
					artist ? old.artist : ""%>">
                </div>
                
                <div class="form-group">
                    <label for="release_date">Fecha de lanzamiento:</label>
                    <input type="date" id="release_date" name="release_date" class="form-control" value="<%= locals.old && old.
					release_date ? old.release_date : ""%>">
                </div>

				<div class="form-group">
                    <label for="description">Descripción:</label>
                    <textarea id="description" name="description" rows="4" class="form-control" value="<%= locals.old && old.
					description ? old.description : ""%>"></textarea>
                </div>

				<button type="submit" class="btn btn-primary">Agregar Producto</button>
            </form>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>

</body>
</html>
