<%- include("partials/headerNormal.ejs") %>

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= info.title %></h2> 
			<p class="product-detail-description">
				<a href="/product/add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
			<% if (info != -1){ %>
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= info.image %>" alt="<%= info.title %>" class="product-detail-img">
					<p class="product-detail-description">
						Fecha de Publicación: <%= info.release_date %>
					</p>
					<p class="product-detail-description">
						<%= info.description %>
					</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile">WORK IN PROGRESS</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
							</div>
						</article>

					</section>
					<form class="form" action="/" method="GET">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			<%} else{ %>
				<h2 style="margin-left: 40px;"> Su álbum no pudo ser encontrado. Por favor, intente con otro álbum o <a href="/">vuelva al home</a></h2>
			<% } %>
			</div>
		</div>
	</div>
	<!-- /product detail -->

<!-- footer -->
<%- include("partials/footer.ejs") %>
<!-- /footer -->

</body>	
</html>