<%- include("partials/headerLogueado.ejs") %>

<!-- Datos del usuario -->
<section class="info-usuario container products-wrapper">
    <% if (info) { %>
        <div class="row">
            <div class="img-container offset-3 col-2">
                <% if (info.profilePic) { %>
                    <img src="/images/users/<%= info.profilePic %>" alt="profilePic" class="profilePic">
                <% } else { %>
                    <img src="/images/default-profile.png" alt="default profilePic" class="profilePic"> <!-- Imagen por defecto -->
                <% } %>
            </div>
            <div class="data-container col-6">
                <div class="d-flex align-items-center">
                    <h1>Bienvenido, <%= info.username %>!</h1>
                </div>
                <div class="user-data">
					<p>Email: <%= info.email %></p>
                    <p>Fecha de nacimiento: <%= info.dateBorn %></p>
                    <p>DNI: <%= info.dni %></p>
                </div>
                <div class="edit-profile">
                    <a href="/profile/edit" class="btn btn-primary">Editar Perfil</a>
                </div>
            </div>
        </div>
    <% } else { %>
        <h1>No se ha encontrado la información del usuario.</h1>
    <% } %>
</section>

<%- include("partials/footer.ejs") %>
<!-- /Datos del usuario -->


	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Mis productos -->


<!-- footer -->
<%- include("partials/footer.ejs") %>
<!-- /footer -->
</body>	
</html>