<%- include("partials/headerNormal.ejs") %>

<!-- Contenido -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Registrarse</h2>

			<% if (local.errors) {
				errors.forEach(error => { %>
				<p class="feedback is=danger"> <% = error.msg %></p>
			<%  })
			  } 
			%>

			<form action="/users/register" method="POST">
				<div>

					<label for="username">Nombre de usuario:</label>
					<input type="text" name="username" 
					id="username" value="<%= locals.old && old.
					username ? old.username : ""%>">
				
				</div>

				<div>

					<label for="email">Email:</label>
					<input type="email" name="email" 
					id="email" value="<%= locals.old && old.
					email ? old.email : ""%>" >

				</div>
				
				<div>

					<label for="passW">Contraseña:</label>
					<input type="password" name="passW" id="passW">
					
				</div>

				<div>

					<label for="dateBorn">Fecha de nacimiento:</label>
					<input type="date" name="dateBorn"
					id="dateBorn" value="<%= locals.old && old.
					dateBorn ? old.dateBorn : ""%>" >

				</div>

				<div>

					<label for="dni">DNI:</label>
					<input type="number" name="dni" 
					id="dni" value="<%= locals.old && old.
					dni ? old.dni : ""%>" >

				</div>

				<div>

					<label for="profilePic">Foto de perfil (URL):</label>
					<input type="text" name="profilePic"
					id="profilePic" value="<%= locals.old && old.
					profilePic ? old.profilePic : ""%>" >

				</div>
				
				<button type="submit">Registrarse</button>

			</form>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>
