<%- include("partials/headerLogueado.ejs") %>


<h1>Resultados de búsqueda para "<%= searchTerm %>"</h1>

<% if (products.length > 0) { %>
    <ul>
        <% products.forEach(function(product) { %>
            <li>
                <a href="/product/<%= product.id %>"><%= product.name %></a>
                <p><%= product.description %></p>
                <p>Publicado por: <a href="/profile/<%= product.user.id %>"><%= product.user.username %></a></p>
            </li>
        <% }); %>
    </ul>
<% } else { %>
    <p>No hay resultados para su criterio de búsqueda</p>
<% } %>
<!-- footer -->
<%- include("partials/footer.ejs") %>
<!-- /footer -->
</body>

</html>